@import '~@angular/material/theming';
@import '../shared/palettes';

.mat-autocomplete-panel {
  min-width: auto;

  .mat-option {
    font-size: inherit;
    height: 34px;
  }

  .mat-option:hover,
  .mat-option.mat-active {
    background-color: map-get($gray, 10);
  }
}


