@import '../shared/palettes';

.mat-checkbox .mat-checkbox-frame {
  border-radius: 3px;
  border-width: 1px;
}

.mat-checkbox.mat-checkbox-disabled .mat-checkbox-frame {
  background-color: map-get($gray, 10);
  border-color: map-get($gray, 60);
}

.mat-checkbox.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
  background-color: map-get($primary-opacity, 50);
}
