.prolift .mat-form-field-type-mat-date-range-input.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    top: -4px;
  }

  .mat-date-range-input-start-wrapper {
    min-width: 80px;
  }

  .mat-input-element {
    min-height: auto;
  }
}
