@import '../shared/palettes';
@import '../shared/variables';
@import '../shared/typography';

$input-autofilled: #e8f0fe;

// horizontal label
.pl-label {
  display: inline-block;

  mat-label {
    align-items: center;
    display: inline-flex;
    margin-right: 15px;
  }
}

.mat-form-field.mat-form-field-appearance-legacy {
  $line-height: mat-line-height($pl-typography, input);
  // The amount of space between the top of the line and the top of the actual text
  // (as a fraction of the font-size).
  $line-spacing: ($line-height - 1) / 2;
  // The padding on the infix. Mocks show half of the text size, but seem to measure from the edge
  // of the text itself, not the edge of the line; therefore we subtract off the line spacing.
  $infix-padding: .5em - $line-spacing;
  // The margin applied to the form-field-infix to reserve space for the floating label.
  $infix-margin-top: 1em * $line-height * .85;

  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-autofilled .mat-form-field-label,
  &.mat-form-field-can-float .mat-input-server:focus .mat-form-field-label {
    @include _mat-form-field-legacy-label-floating(1, $infix-padding, $infix-margin-top);
  }

  .mat-form-field-infix {
    border-top-width: $infix-margin-top;
    padding: .5em 0 .4375em;
  }

  .mat-form-field-underline {
    transition: background-color $transition-duration;
  }

  &:not(.mat-form-field-disabled):hover .mat-form-field-underline {
    background-color: rgba(map-get($gray, 80), .5);
  }

  .mat-form-field-prefix .mat-icon,
  .mat-form-field-suffix .mat-icon {
    height: 1em;
  }

  .mat-input-element[type='number'] {
    text-align: right;
  }

  .mat-form-field-subscript-wrapper {
    font-size: 85%;
  }

  .mat-form-field-label {
    top: 1.29125em;
  }
}

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
input[type='number'] {
  @include mat-typography-level-to-styles($pl-typography, input-number);
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// stylelint-enable property-no-vendor-prefix, selector-no-qualifying-type
