@import '../shared/palettes';
@import '../shared/variables';

$select-height: 32px;

.mat-form-field.mat-form-field-appearance-legacy {
  .mat-select-arrow-wrapper {
    padding-left: 6px;
    transform: translate(-3px, 0) rotate(-45deg);
  }

  .mat-select-arrow {
    display: none;
  }

  .mat-select-arrow-wrapper::after {
    background-color: transparent;
    border-bottom: 1.5px solid map-get($gray, 70);
    border-left: 1.5px solid map-get($gray, 70);
    content: '';
    display: block;
    height: 6px;
    transition: border-color $transition-duration;
    width: 6px;
  }

  .mat-select[aria-expanded='true'] .mat-select-arrow-wrapper::after,
  &.mat-focused .mat-select .mat-select-arrow-wrapper::after {
    border-color: map-get($primary, 600);
  }

  &.mat-form-field-invalid .mat-select[aria-expanded='true'] .mat-select-arrow-wrapper::after,
  &.mat-focused.mat-form-field-invalid .mat-select .mat-select-arrow-wrapper::after,
  &.mat-form-field-invalid .mat-select .mat-select-arrow-wrapper::after {
    border-color: map-get($warn, 500);
  }
}

.mat-select-panel {
  $select-option-height: 34px;
  max-height: $select-option-height * 6;

  &:focus {
    outline: none;
  }

  .mat-optgroup-label,
  .mat-option,
  .mat-option-text {
    height: $select-option-height;
    line-height: $select-option-height;
  }

  .mat-option:hover,
  .mat-option.mat-active {
    background-color: map-get($gray, 10);
  }

  .mat-option.mat-selected {
    background-color: map-get($gray, 20);
  }

  .mat-pseudo-checkbox {
    border-width: 1px;
    color: map-get($gray, 70);
  }

  .mat-pseudo-checkbox::after {
    left: 1.8px;
    top: 3.4px;
  }
}
