@import '../shared/typography';

.mat-tooltip {
  @include mat-typography-level-to-styles($pl-typography, caption);
  line-height: 15px;
  margin: 8px;
  padding: 4px 10px;
  white-space: pre-line;
}
