<h3 mat-dialog-title>Rename</h3>

<mat-dialog-content class="mat-body-2">
  <form #renameForm="ngForm">
    <mat-form-field>
      <input matInput required name="name" [(ngModel)]="data.name">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button color="primary" [tabIndex]="-1">Cancel</button>
  <button mat-flat-button [disabled]="renameForm.invalid || processed" [tabIndex]="0" (click)="save()" color="primary">Rename</button>
</mat-dialog-actions>
