$primary: (
  50: #edfdff,
  100: #c5f7ff,
  200: #9ef2ff,
  300: #76edff,
  400: #4de5fb,
  500: #35c4d9,
  600: #21a4b7,
  700: #118495,
  800: #066573,
  900: #004751,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$primary-opacity: (
  5: #f4fbfb,
  10: #e9f6f8,
  20: #d3edf1,
  30: #bce4e9,
  40: #a6dbe2,
  50: #90d1db,
  60: #7ac8d4,
  70: #64bfcd,
  80: #4db6c5,
  90: #37adbe,
  100: #21a4b7,
);

$warn: (
  100: #fce7e7,
  500: #d92929,
  700: #e25955,
  contrast: (
    100: #000,
    500: #fff,
    700: #fff,
  )
);

$gray: (
  0: #fff,
  10: #f5f8fa,
  20: #ebf1f5,
  30: #e1e8ed,
  40: #d8e1e8,
  50: #ced9e0,
  60: #bfccd6,
  70: #a7b6c2,
  80: #8a9ba8,
  90: #738694,
  100: #5c7080,
  110: #394b59,
  120: #30404d,
  130: #293742,
  140: #202b33,
  150: #182026,
  160: #000,
);
