.pl-label mat-label {
  min-width: 115px;
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  line-height: 24px;
}

.pl-label:not(.actor-form__field) {
  width: 100%;
}

.create-battle-form-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &.pl-label .mat-form-field {
    flex-grow: 1;
  }
}

.actor-form {
  display: flex;
  margin-bottom: 8px;

  &__field:not(:last-child) {
    margin-right: 12px;
  }

  &__field:not(:last-child):not(:first-of-type) {
    width: 92px;
  }

  > mat-label,
  .mat-checkbox {
    margin-top: 26px;
  }

  > mat-label {
    margin-left: 8px;
    min-width: 60px;
    max-width: 60px;
  }

  .pl-label mat-label {
    margin-bottom: -9px;
  }
}

app-multiple-input[formControlName="commanders"]::ng-deep .mat-input-element {
  min-height: 32px;
  margin-bottom: 0;
}
