@import '~src/styles/shared/palettes';

.mat-toolbar {
  border-bottom: 1px solid map-get($gray, 30);
  justify-content: space-between;
  padding: 10px 28px 10px 24px;
}

.mat-icon[svgIcon='logotype'] {
  min-height: 25px;
  min-width: 106px;
}
