@import '../../../../node_modules/@angular/material/theming';
@import '../../../styles/shared/palettes';
@import '../../../styles/shared/typography';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-table {
  width: 100%;

  .mat-header-cell:first-of-type,
  .mat-cell:first-of-type,
  .mat-footer-cell:first-of-type {
    padding-left: 16px;
  }

  .mat-header-cell:last-of-type,
  .mat-cell:last-of-type,
  .mat-footer-cell:last-of-type {
    padding-right: 16px;
  }
}

.mat-icon {
  color: map-get($gray, 70);
}

.icon-primary {
  color: map-get($primary, 600);
}

.mat-column-name,
.mat-column-actors,
.mat-column-war {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-army-sizes {
  width: 87px;
}

.mat-column-losses {
  width: 60px;
}

.mat-column-actors,
.mat-column-war {
  min-width: 165px;
}

.mat-column-select {
  width: 17px;
}

.mat-column-edit {
  white-space: nowrap;
}

.scroll-wrapper {
  height: 100%;
  overflow: auto;
}

.scroll-wrapper,
.mat-paginator,
.menu__delete {
  border-top: 1px solid map-get($gray, 30);
}

.icon-cell {
  width: 40px;
}

.link {
  color: $text-color;
  text-decoration: none;
}
