<div class="scroll-wrapper">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row.id) : null"
                      [checked]="selection.isSelected(row.id)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Dates
      </th>
      <td mat-cell *matCellDef="let row"> {{row.country.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Duration
      </th>
      <td mat-cell *matCellDef="let row"> {{row.client}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="battles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Battles
      </th>
      <td mat-cell *matCellDef="let row"> {{row.field}} </td>
    </ng-container>

    <ng-container matColumnDef="actors">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <app-filter-header></app-filter-header>
        Actors
      </th>
      <td mat-cell *matCellDef="let row"> {{row.pad}} </td>
    </ng-container>

    <ng-container matColumnDef="army-sizes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Army sizes
      </th>
      <td mat-cell *matCellDef="let row"> {{row.well}} </td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Losses </th>
      <td mat-cell *matCellDef="let row">  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"
        [class.pl-selected-row]="selection.isSelected(row.id)"
        (click)="selection.toggle(row.id)">
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="pageSizes"></mat-paginator>
